*{
    font-family: 'Roboto';
}
body, html {
    width: 100%;
    height: 100%;
}
h2 {
    font-size: 36px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}
.container-fluid {
    padding: 60px 50px;
}
.bg-grey {
    background-color: #f6f6f6;
}
.logo-small {
    color: #2e282a;
    font-size: 50px;
}
.logo {
    color: #2e282a;
    font-size: 200px;
}
.schema_bottom {
    display:flex;
    align-items:center;
}
.about_main {
    position: absolute;
    top: 0;
    padding: 90px 50px 0;
    background: rgba(255,255,255,0.5);
}
.main-fon {
    height: 100%;
    overflow: hidden;
}
.slide__img {
    background-size: cover;
    margin: 0 auto;
}
.schema__img{
    width: 55%;
    margin: auto;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #2e282a;
}
.carousel-indicators li {
    border-color: #2e282a;
}
.carousel-indicators li.active {
    background-color: #2e282a;
}
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}
.item span {
    font-style: normal;
}
.call {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    color: black;
}
.call_text {
    display: block;
    padding: 5px;
    text-transform: uppercase;
    color: #2e282a;
 }
.info{
    margin: 5px;
    padding: 5px;
    display: block;
    color: #053750;
 }
.text_accent{
    color: #cd5334;
}

.text_black{
    color: #2e282a;
}
.panel {
    border: 1px solid #2e282a;
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-heading {
    color: #fff !important;
    background-color: #2e282a !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.navbar {
    margin-bottom: 0;
    background-color: #2e282a;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #2e282a !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
}
@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
}

.wrapper {
}

.wrapper_info {
    height: 30%;
    margin: 20%;
}

.footer {
    background-color: #2e282a;
    z-index: 9999;
    width: 100%;
    height: 100px;
    position: relative;
}
.footer_text {
    width: 50%;
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 30%;
    padding-left: 22%;
    right: 0;
    margin: auto;
}